<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header id="header" th:fragment="header">

  <section class="inner">

    <h1 class="logo">
      <a href="/index/main">
        <div class="sprite_insta_icon"></div>
        <div class="sprite_write_logo"></div>
      </a>
    </h1>

    <div class="search_box">
      <input type="text" placeholder="검색" id="search-field">

      <div class="fake_field">
        <span class="sprite_small_search_icon"></span>
        <span>검색</span>
      </div>
    </div>

    <div class="right_icons">
      <a href="/index/new_post"><div class="sprite_camera_icon"></div></a>
      <a href="/index/login"><div class="sprite_compass_icon"></div></a>
      <a href="/index/follow"><div class="sprite_heart_icon_outline"></div></a>
      <a href="/index/profile"><div class="sprite_user_icon_outline"></div></a>
    </div>

  </section>
</header>